.header_style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 145px;
  background: rgba(11, 11, 11, 0.5);
}

.eventInput {
  position: relative;
  width: 270px;
  height: 40px;
  margin: 0px;
  padding: 10px 118px 10px 30px;

  font-size: 16px;
  line-height: 1.25px;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
  @media screen and (min-width: $pc) {
    margin-right: 30px;
  }
}

.countryInput {
  position: relative;
  width: 270px;
  height: 40px;
  margin: 25px 0 0 0;
  padding: 10px 118px 10px 30px;
  cursor: pointer;
  border-radius: 20px;
  border-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $pc) {
  }
}
.search-icon {
  position: absolute;
  top: 160px;
  left: 257px;
  width: 12px;
  height: 12px;
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 185px;
    left: 337px;
  }

  @media screen and (min-width: $pc) {
    position: absolute;
    top: 185px;
    left: 580px;
  }
}
.polygon-icon {
  position: absolute;
  top: 222px;
  left: 258px;
  width: 12px;
  height: 12px;
  z-index: 23;
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 185px;
    left: 645px;
  }

  @media screen and (min-width: $pc) {
    position: absolute;
    top: 185px;
    left: 882px;
  }
}
.btn-load-more {
  width: 210px;
  height: 40px;
  margin: 25px 55px 10px 55px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-color: transparent;
}
.label {
  color: green;
  text-align: center;
}
.navInput {
  text-align: center;
}
