
   
<div class="navInput">
    <input class="eventInput" type="text" name="event" id="input-event" placeholder="Start searching" />
    <svg class="search-icon" width=12 height=12><use href="./images/search-icon.svg#icon-Search"></use></svg>
    <svg class="polygon-icon"><use href="./images/search-icon.svg#icon-polygon"></use></svg>
    <input class="countryInput" type="text" name="country" id="input-country" placeholder="Choose country" />


<!-- Контейнер для галереи -->
<ul class="events events-container"></ul>


<!-- Пока кнопка, потом заменить на перечень стр -->
<button type="button" class="btn-load-more" data-action="load-more">

    <span class="label">Show more</span>
</button>
</div>
 

  
    
    